* {
    padding: 0;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    height: 100px;
}

.navContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: red solid 1px;
    position: relative;
}

.mainGrid {
    display: grid;
    grid-gap: 2rem;
    grid-template-areas:
    "nav nav nav"
    "h1 h1 h1"
    "about about about"
    "storyPrompt storyPrompt storyPrompt"
    "input input input"
    "footer footer footer";
}

/* Mobile Design */
.navLinksContainer {
    display: none;
    flex-direction: column;
    border: red solid 1px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.navLinksContainer ul li {
    padding: 10px 0 10px 0;
    list-style: none;
}


.hamburgerIcon {
    position: absolute;
    top: 35px;
    right: 45px;
}

.bar {
    height: 5px;
    width: 30px;
    margin: 5px 0 5px 0;
    background-color: black;
}
